html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

* {box-sizing: border-box; margin: 0; /* border: solid 1px pink; */}

.outerMostContainer {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) 80% minmax(1em, 1fr);
}

.greenText {
    background-color: rgb(182, 252, 182);
}

.red {
    background-color: rgb(248, 184, 184);
}

.typing {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.typing--userInput { 
    opacity: 0;
    position: absolute;
    pointer-events: none;
    resize: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

.typing--sampleDisplay {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.typing--sampleDisplay,
.typing--userInput {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400; 
    font-size: 1.2rem;
    padding: 1em;
    letter-spacing: 1px;
    line-height: 1.7;
}

.typing--sampleArea {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.521), 0px 6px 10px 2px rgb(0 0 0 / 10%);
}

.typing--sampleInput {
    resize: none;
    align-self: flex-end;
    color: gray;
    opacity: 1;
    padding: .5em;
    font-size: 1rem;
    height: 100px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.7;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
}

.typing--sampleInput:focus {
    outline-width: 0;
}

.sampleAreaBottom {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    padding: 0;
}

textarea::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(29, 27, 27, 0.705);
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(29, 27, 27);
}

.typing--sampleDisplay::-webkit-scrollbar {
    width: 15px;
}

.typing--sampleDisplay::-webkit-scrollbar-track {
    background-color: white;
}

.typing--sampleDisplay::-webkit-scrollbar-thumb {
    background-color: rgba(29, 27, 27, 0.705);
    border-radius: 3px 7px 7px 3px;
    margin-left: 5px;
    border-right: 5px white solid;
    cursor: pointer;
}

.typing--sampleDisplay::-webkit-scrollbar-thumb:hover {
    background-color: rgb(29, 27, 27);
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

input[type='range'] {
    -webkit-appearance: none;
    transform: rotate(-90deg);
    width: 100px;
}

.rangeFont::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    
    height: 7px;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 1px;
}

.rangeFont::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 17px;
    margin-top: -6px ;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(29, 27, 27);
}

.rangeFont {
    position: absolute;
    left: 72%;
    bottom: 47px;
}

.social--li,
.editIcon,
.fa-text-height,
.TTS-speakerIcon,
.TTS-settingsIcon,
.muteIcon,
.keyboardIcon,
.spellingKeyboard,
.searchIcon {
    cursor: pointer;
    font-size: 1.4rem;
    color: rgb(29, 27, 27);
    opacity: .8;
    background: transparent;
}

.keyboardIcon {
    order: -1;
    font-size: 1.55rem;
}

.muteIcon {
    margin-right: 3px;
}

.editIcon:hover,
.fa-text-height:hover,
.TTS-speakerIcon:hover,
.TTS-settingsIcon:hover,
.TTS-select:hover,
.muteIcon:hover,
.spellingKeyboard:hover,
.searchIcon:hover {
    opacity: 1;
}

span {
    white-space: pre-wrap;
}



.settings {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 68px;
    align-self: center;
    position: relative;
    padding: 0 0 .5em 0;
}

.settings > * {
    margin-bottom: 12px;
}


.controls {
    border: 2px rgba(0, 0, 0, 0.253) solid;
    padding: .3em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 0.5em;
    
    align-self: flex-end;
    margin: 0 0 3px 0;
}


.TTS-speakerIcon {
    background: none;
    border: none;
    text-align: right;
    padding: 0 0 0 0;
}

.TTS-settingsIcon {
    text-align: left;
    padding: 1px 0 0 0;
}

.TTS-select {
    width: 100px;
    font-size: .7rem;
    grid-column: 1/span 2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid rgba(29, 27, 27, 0.801) 2px;
    border-radius: 2px;
    opacity: .8;
}

.TTs-option {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
    text-align: left;
}

.maring-top {
    align-self: flex-end;
    margin: 2.3px;
}

.list-container {
    /* width is in the dictionary component 30%) */
    background-color: #fff;
    padding: 1em;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.103);
    border-radius: .7em .7em .7em .7em;
    position: absolute;
    text-align: left;
    min-height: fit-content;
    overflow-y: auto;
    z-index: 10;
}

.list-container::-webkit-scrollbar {
    width: 15px;
}

.list-container::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 5px;
    display: flex;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #e7e7e7cc;
    cursor: pointer;
}

.list {
    padding: 0;
    margin-left: 1em;
}

.definition {
    font-family: 'Inter', sans-serif;
    font-size: .82rem;
    font-weight: 500;
    color: #0f0f0fc9;
    margin-top: 1em;
}

.definition:first-child {
    margin-top: 0;
}

.synonsym {
    width: fit-content;
    display: inline-block;
    margin: .7em .7em 0em 0;
    padding: .45em .6em; 
    border-radius: .2em;
    font-weight: 700;
    font-size: .9rem;
    background-color: #e7e7e7cc;
    color: #03C197;
    letter-spacing: 1px;
}

.NoDefinitions {
    font-family: 'Inter', sans-serif;
    margin: auto;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.header {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2em 0;
    box-shadow: 2px 2px 1px .5px rgba(94, 94, 94, 0.171);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header--title {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header--nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.966);
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 20;
}

.hideNav {
    transform: translate(100%);
}

.header--ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 2em;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 3em 1em;
    text-align: left;
}

.header--li {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.header--li:hover {
    color: rgb(119, 119, 119);
}

a {
    color: inherit;
    text-decoration: none;
}

.spellingDisplay {
    font-size: 1.5rem;
}

.wordToSpell {
    visibility: hidden;
    position: relative;
    font-family: monospace;
    text-align: justify;
    margin-left: 2px;
}

.wordToSpell::after {
    visibility: visible;
    position: absolute;
    top: -3.6px;
    right: 0;
    content: "_";
    text-align: justify;
}

.wordToSpellEl {
    text-align: justify;
    display: inline-flex;
    gap: 2px;
}

.wrongSpelling {
    visibility: hidden;
    position: relative;
}

.wrongSpelling::after {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(248, 184, 184);
    content: " ";
    text-align: justify;
}

.Spelling {
    grid-column: 1 / -1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.margin {
    margin-left: 1em;
}

.SpellingForm {
    opacity: 1;
}

.SpellingInput {
    -webkit-text-security: disc;
}

.correctSpelling {
    background-color: rgb(182, 252, 182);
    margin-left: 2px;
}

.fullSentence {
    display: inline-block;
    padding: 0 1em;
    text-align: center;
}

.overFlowY {
    overflow-y: auto;
}

.subTitle {
    margin-top: -8px;
    text-align: left;
}

.bucketIcon {
    font-size: 1.8rem;
    margin-left: .3em;
}

.hr {
    color: rgb(143, 143, 143);
}

.footer {
    grid-column: 1 / span 3;
    background-color: #fff;
    padding: 2em 0;
    box-shadow: -2px -2px 1px 0.5px rgba(0, 0, 0, 0.17);
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: #F5F5F5;
    margin-top: auto;
}

.social--ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 50px;
}

.social--li {
    font-size: 30px;
}

.social--li i:hover {
    color: #000;
    opacity: 1;
}

.About--main {
    grid-column: 1 / -1;
    min-height: 100vh;
    margin: auto;
}

.About--article {
    width: 80%;
    margin: 63px auto;
}

.About--article_title {
    margin: 2em 0 .7em 0;
    color: rgb(41, 41, 41);
}

.About--article_body {
    max-width: 900px;
    letter-spacing: 1px;
    line-height: 1.7;
}

.About--editIcon {
    color: rgb(29, 27, 27);
    opacity: .8;
    background: transparent;
}

.About--article_img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

.selectedText {
    background-color: #3297FD;
    padding: .23em 0;
    color: #fff;
}

.header--select {
    border: none;
    text-align: left;
    color: #fff;
    background: none;
}

.header--option {
    font-size: .8rem;
    border: none;
}

.openBtn {
    background: none;
    border: none;
}

.openIcon {
    font-size: 1.8rem;
}

.closeBtn {
    background: none;
    border: none;
    align-self: flex-end;
    padding: 1em 1em 0 0;
}

.closeIcon {
    color: #fff;
    font-size: 1.5rem;
}

.spellingControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.spellingBtn {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

.spellingInput {
    opacity: 0;
}

@media (min-width: 900px) {
    .openBtn,
    .closeBtn {
        display: none;
    }

    .header--nav {
        position: initial;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: initial;
        flex-direction: initial;
        color: black;
        z-index: initial;
    }

    .header--select {
        text-align: right;
        color: #000;
        background: none;
    }

    .hideNav {
        transform: translate(0);
    }

    .header--ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        gap: 2em;
        height: initial;
    }
}

@media (min-width: 280px) {
    .rangeFont {
        left: 68%;
    }
}

@media (min-width: 360px) {
    .rangeFont {
        left: 72%;
    }
}

@media (min-width: 393px) {
    .rangeFont {
        left: 73.4%;
    }
}

@media (min-width: 412px) {
    .rangeFont {
        left: 75%;
    }
}

@media (min-width: 500px) {
    .rangeFont {
        left: 76.5%;
    }
}

@media (min-width: 600px) {
    .rangeFont {
        left: 78.6%;
    }
}

@media (min-width: 700px) {
    .rangeFont {
        left: 79.8%;
    }
}

@media (min-width: 800px) {
    .sampleAreaBottom {
        flex-direction: row; 
        justify-content: space-between;
        align-content: flex-start;
        padding: 0 2em .8em 0;
    }

    .typing--sampleInput {  
        width: 300px;
    }

    .settings {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 180px;
        height: 68px;
        align-self: flex-end;
        position: relative;
        margin-left: auto;
        padding: none;
    }

    .rangeFont {
        position: absolute;
        left: initial;
        right: -38px;
        bottom: 47px;
    }
    
}

@media (pointer: fine) {
    .keyboardIcon,
    .spellingKeyboard {
        order: -1;
        display: none;
    }
}

@media (pointer: coarse) and (min-width: 800px) {
    .settings {
        width: 280px;
    }
}

